# Instructions 
WEB SCRAPING – ASSIGNMENT 2 
1. All the questions must be done in a single Jupyter notebook. 2. There should be proper comments in code.

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 3. Then click the search button. 4. Then scrape the data for the first 10 jobs results you get. 5. Finally create a dataframe of the scraped data.

In [14]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [11]:
# connect to webdriver
driver=webdriver.Chrome(r'E:\chromedriver.exe')

In [12]:
# get webpage
driver.get("https://www.naukri.com/")

In [13]:
# Find web element for search bar using class name
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

In [14]:
#write on search bar
search_job.send_keys("Data Analyst")

In [15]:
#Finding web element for search location bar using relative Xpath 
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [16]:
#finding web element for job locatin bar
search_loc.send_keys("Bangalore")

In [17]:
#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [18]:
search_btn.click()

## Extracting Job Titles

In [21]:
#extract all the web element having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [25]:
# creating empty list to scraping data into them

job_title=[]
company_name=[]
experience_required=[]
job_location=[]

In [27]:

for i in title_tags:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Sr.Business Data Analyst', 'Sr Data Analyst', 'Senior Data Analysis Analyst', 'Job opportunity For Data Analyst at Trellance - India', 'Data Analyst', 'Senior Data Analyst', 'Associate Data Analyst', 'Associate Data Analyst', 'Data Analyst/Senior Data Analyst', 'Financial Data Analyst']

In [28]:
# extracting all the tags having company name

company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="53f440e0-5636-40e8-b417-a8922ecc00b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="f0cb3406-7f91-4245-9e6e-a83e39b81c53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="16e3d73f-baff-4606-9fbf-a536e4da3ae4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="d537e346-a545-45e2-a0c9-623fcb9af1e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="cc31cdc8-651e-4834-819b-3cf6e2351279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="02914364-0c35-4eee-8898-d092899e323c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="f7e474e6-0028-496e-a931-0bfeb261311a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="c342ee30-5109-4e6c-a691-5b188db093eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="486f7ec4-7d59-4c84-a4f1-51f19374e348")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="f449a24e-1c6a-4114-88e3-9fab041e07bd")>]

In [29]:
# extract the job title text iteratively from these tags one by one

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[10:20]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['Cerner', 'Flipkart', 'Wells Fargo', 'Happay-Expense Management Solution for Businesses', 'Kititan Co., Ltd', 'Artech infosystem', "Moody's", "Moody's", "Moody's", 'Schneider Electric']

In [30]:
# extracting all the tags having job-experience

exp_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="3be6d80e-42ee-4b39-ad18-a05b45b37ccb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="235420b4-7a8e-412f-99cf-afa52127acb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="8c772531-49ea-4282-af14-e64b2f97c15e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="1ed4bfb9-09d8-4919-9348-2346bdd61170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="fd65c4b9-ca52-4f11-bd8b-241972c9f14b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="932dbcfa-287f-4a21-a41e-5ec5716ef90b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="7698e81c-a5c4-4dda-8168-d63234745b79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="a1dbfa55-70ff-436d-b28a-cf7be0a52f7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="e06b5c65-0b3d-4dd3-8d8c-3352317e058a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="bd69b793-1eee-45af-8811-2afccd2d093a")>]

In [31]:
# extract the job experience text iteratively from these tags one by one

for i in exp_tag: 
    experience_required.append(i.text.split(" ")[0])
experience_required= experience_required[0:10]
print("Below are the top 10 job data's job title: \n", experience_required)

Below are the top 10 job data's job title:
 ['6-11', '5-8', '7-12', '0-2', '2-3', '3-6', '2-7', '1-4', '3-6', '3-8']

In [33]:
# extracting all the tags having job-location 

location_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="da70102f-6e6c-4003-922c-0d9ff6ab2276")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="df2c513f-47eb-4821-a6d4-780d9004615d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="9a541b02-2df3-436d-bb2e-3baf3d03bf30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="4aa95ba6-fddc-45bc-8b01-b3307b121178")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="4e694e60-7427-44e0-bdc6-e2eefec74c2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="45927948-9c28-48b8-9627-0c4b071b4c0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="581b3c05-3fa9-4957-b7d3-57457a7f69b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="12a68a4e-b568-4528-b398-a2155941445a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="d9ce6143-21b8-4747-9d07-cbec8707c4fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ecf9cd6defc4adf646ea14d6a9efa783", element="16fd3c70-9625-4b35-8ad5-93afcda86a82")>]

In [34]:
for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Bangalore/Bengaluru, karnataka\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru, Pune, Chennai', 'Bangalore/Bengaluru, Ahmedabad', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru(Old Madras Road)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [36]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_analytics = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name, 
                       'Experience':experience_required,                        
                       })
naukri_analytics

,Title,Location,Company_Name,Experience
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Cerner,6-11
1,Sr Data Analyst,Bangalore/Bengaluru,Flipkart,5-8
2,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Wells Fargo,7-12
3,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad",Happay-Expense Management Solution for Businesses,0-2
4,Data Analyst,Bangalore/Bengaluru,"Kititan Co., Ltd",2-3
5,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),Artech infosystem,3-6
6,Associate Data Analyst,Bangalore/Bengaluru,Moody's,2-7
7,Associate Data Analyst,Bangalore/Bengaluru,Moody's,1-4
8,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,Moody's,3-6
9,Financial Data Analyst,Bangalore/Bengaluru,Schneider Electric,3-8

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps: ##1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 3. Then click the search button. 4. Then scrape the data for the first 10 jobs results you get. 5. Finally create a dataframe of the scraped data.

In [37]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.naukri.com/")

In [47]:
search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_field_designation.send_keys("Data Scientist")
search_location=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_location.send_keys("Banglore")

In [48]:
#clicking using web absolute xpath function 
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [49]:
search_btn.click()

In [51]:
# creating empty list to scraping data into them

job_title=[]
job_location=[]
company_name=[]

In [52]:
# extracting all the tags having job-titles

title_tag = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="89cf8437-4ba9-493c-9f54-a1bf2a46646d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="d6208c92-fb18-4a8e-b973-55fea8df4026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="69b360a6-e0be-4369-af02-bf7745ab7b5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="92f1ddb3-e83d-4cc0-b077-cad0ef08236e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="8b6866cf-b4b1-4137-bfd5-020eaa1a2e73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="584dcbf3-680b-40f6-8913-3eb156b41823")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="8e2de4d4-3e09-4a5d-8b08-80f7d02de6a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="e31db98d-cf2d-43fd-ad72-500b35089650")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="1ab73417-980a-4eae-8bb2-d3712a66cb53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="082158b1-303e-47c1-a5da-dd714725e086")>]

In [53]:
# extract the job title text iteratively from these tags one by one

for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("Below are the top 10 job data's job title: \n", job_title)

Below are the top 10 job data's job title:
 ['Data Scientist/ Senior Data Scientist', 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes', 'Dataiku Consultant', 'Data Scientist', 'Data & Analytics Tech - Informatica Cloud- Senior Associate', 'Data Scientist: Advanced Analytics', 'Research Scientist', 'Data Science - Senior Data Scientist - Analytics', 'Principal - Data Scientist', 'Research and Development -AI/ML -(PhD )']

In [55]:
# extracting all the tags having job-location 

location_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="06e8fdda-78f6-4912-b561-0d9d07eff72a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="31cc3a57-211c-4963-aefe-4daacf938d06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="46582b5f-0860-43e5-8541-e51869359df1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="b2550095-970a-4933-920d-e33169745f60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="55763f88-5ae7-4c3c-939e-562ed974df1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="fc77979a-8f17-45d4-a703-171aa94f59b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="e5012e14-1a06-48f8-9a9c-8df95859fe54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="d6ae3a4d-96ba-4492-8302-b1e15440eab3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="49f43c1d-a747-44fd-bcce-1dc9ae254656")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="53d4b7b6-8136-4b38-9086-33c212412771")>]

In [56]:
# extract the job location text iteratively from these tags one by one

for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("Below are the top 10 job data's company location \n", job_location)

Below are the top 10 job data's company location
 ['Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)', 'Kochi/Cochin, New Delhi, Bangalore/Bengaluru, Coimbatore, Chennai, Pune, Mumbai, Hyderabad', 'Pune, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Noida, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR']

In [57]:
# extracting all the tags having company name

company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="ddd7b258-9852-42e0-a4b7-adcdd110cfeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="da74c782-6211-44a0-b99f-11c94726d537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="49bc4b22-d713-4a7f-822c-23e77668e345")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="e48decb7-70f9-43e0-bb89-31d1aa954314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="5a145301-5c30-46ba-9564-5936fe338177")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="1267e7ea-f947-4b93-a3ad-edace10c190f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="79b63e58-d70f-419d-a548-4c945932782c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="b3a85624-6d02-4adb-ab52-c89bba42ea17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="8d003da9-136d-46ec-8fc6-35d9a7cf98dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="be96467c2446114807b665feed2a6c66", element="b6cebd84-a2a4-42da-81b1-8989e36ed224")>]

In [58]:
# extract the company name text iteratively from these tags one by one

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[0:10]
print("Below are the top 10 job data's : \n", company_name)

Below are the top 10 job data's :
 ['Fractal Analytics', 'Wipro', 'Wipro', 'Applied Materials', 'PwC', 'IBM', 'IBM', 'Paytm', 'Schneider Electric', 'EXL']

In [59]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_scientist = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name,                                   
                       })
naukri_scientist

,Title,Location,Company_Name
0,Data Scientist/ Senior Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",Fractal Analytics
1,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro
2,Dataiku Consultant,"Pune, Chennai, Bangalore/Bengaluru",Wipro
3,Data Scientist,Bangalore/Bengaluru,Applied Materials
4,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
6,Research Scientist,Bangalore/Bengaluru,IBM
7,Data Science - Senior Data Scientist - Analytics,"Noida, Bangalore/Bengaluru",Paytm
8,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
9,Research and Development -AI/ML -(PhD ),"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",EXL

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [68]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.naukri.com/")

In [69]:
# enter “Data Scientist” in “Skill, Designations, Companies” field.
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [70]:
search_button=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [71]:
# apply the location filter "Delhi-NCR" and salary "3-6 lakh" filter by checking the respective boxes

loc_clk=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft']")
for i in loc_clk:
    if i.text == 'Delhi / NCR':   
        i.click() # Checking the checkbox to apply filter on the location
        break

In [72]:
# applying salary filter
sal_clk=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft']")
for i in sal_clk:
    if i.text == '3-6 Lakhs':   
        i.click() # Checking the checkbox to apply filter on the salary
        break

Scraping the data for the first 10 jobs results

In [73]:
# specifying the url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"

# open the webpage through our web driver
driver.get(url)

In [74]:
# creating empty list to scraping data into them

job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [75]:
# extracting all the tags having job-titles

title_tag = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="e087f0bf-ef5c-4f0c-b407-9756e3bedf4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="0654534a-ad1d-4b89-93df-43866678d213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="fd5af763-f33e-4e4a-a02d-39cf4001c048")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="a006f90d-275c-428a-a249-ebbb3c28f8f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="956e34c0-f3c1-4bf9-800e-2c28ae0c0527")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="a7556174-c515-4a16-9f2b-786f43b7d81b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="ca678e24-be30-4b1a-9b9f-628cac56cda8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="3be9252f-43a1-45a5-aeb7-1185bdd5c477")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="a55d2729-65d2-491f-9490-c2c5b3daf378")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="1a955e7c-89d2-4c2e-ac84-8410c88f1861")>]

In [76]:
# extract the job title text iteratively from these tags one by one

for i in title_tag:
    title = i.text
    job_title.append(title)
job_title = job_title[0:10]

print("LIST of top 10 job data's job title: \n", job_title)

LIST of top 10 job data's job title:
 ['DigitalBCG GAMMA Data Scientist', 'Data Scientist - Noida/Bangalore', 'Senior Associate - Data Science', 'Data Scientist For Healthcare Product team', 'Data Scientist - Machine learning AI', 'Data Scientist - MIND Infotech', 'Data Scientist - Engine Algorithm', 'Knowledge/Data Scientist', 'Data Scientist', 'Data Scientist']

In [77]:
# extracting all the tags having job-location 

location_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="87aa43cc-b4a6-4802-a7fd-28d1ae3e88ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="c0c8b53a-cd12-4dce-a733-0928f2839fb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="9b6272d5-3ada-4d85-9538-4f4af27f9a53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="d1ca047e-bf15-4389-8c4c-524d3340fe4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="3ca86045-c3f3-4879-abc1-e9224dd56037")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="7e5fe5f5-5ce8-47c1-bd27-792f11d542f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="bc60b624-02b9-48e1-b086-a3a2cbf1accd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="387d85ea-6447-466c-8cb1-2e6b47d64ade")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="be968846-be84-4751-9bc0-4cd337155836")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="737736d0-49f5-49a4-bef1-56aefac9a9c5")>]

In [78]:
# extract the job location text iteratively from these tags one by one

for i in location_tag:
    location = i.text
    job_location.append(location)
job_location = job_location[0:10]
print("LIST OF top 10 job data's company location \n", job_location)

LIST OF top 10 job data's company location
 ['New Delhi, Bangalore/Bengaluru', 'Noida, Bangalore/Bengaluru', 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru', 'Delhi / NCR, Chennai, Bangalore/Bengaluru', 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)', 'Noida', 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru', 'Delhi / NCR', 'Delhi / NCR, Pune, Bangalore/Bengaluru', 'Delhi / NCR, Pune, Bangalore/Bengaluru']

In [80]:
# extracting all the tags having company name

company_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="63a4bac7-d166-464e-917b-693141ac7e49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="1ad04120-f68d-476b-b632-eb5611c7638d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="2f02baf7-c100-469d-8da2-888fb488a82f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="abe5113f-79da-4d09-9d68-ea2b9176788c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="e3ad1ac9-3ef8-4e60-b995-43e754fcf488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="c9d5ef1f-9dc2-4393-a24f-82d66efa3ec0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="42e115dc-ee9a-467c-9a0c-0dd35bf3a49a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="69e253d0-1b2d-429d-8734-3e028837d671")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="ec0b9d5e-6b04-4aba-bd97-3920e49aee92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="d7f4a75f-c5fc-4835-a071-1aa6bf02f292")>]

In [81]:
# extract the company name text iteratively from these tags one by one

for i in company_tag:
    company = i.text
    company_name.append(company)
company_name = company_name[0:10]
print("LIST top 10 job data's : \n", company_name)

LIST top 10 job data's :
 ['Boston Consulting Group', 'EXL', 'Black Turtle', '8KMiles Software Services', 'Teq Analytics', 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED', 'Primo Hiring', 'BOLD Technology Systems', 'Mount Talent Consulting Private Limited', 'Mount Talent Consulting Private Limited']

In [82]:
# extracting all the tags having job-experience

exp_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="7fcf4f4c-2761-417d-b66a-b848d697c47e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="bc0a7bf3-a652-4c97-8110-23470995b092")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="15e35b06-2eb1-4ebf-b690-3889522281cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="df98a827-25ad-4260-bea7-dbd2384f956e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="d2543c18-b0e1-4598-a465-389547e30284")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="72a43253-df86-4df7-9f11-20702cefa054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="781f1bd1-7ff5-4254-a8da-d353d622c660")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="c12e535c-f190-4245-af8a-2cc3ade4d603")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="b45f366d-bbb0-4413-8820-2309437a550d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="25501162880b9a7b261815090f0f08cf", element="1593ecc9-25f2-4b53-b71c-2c00a97b63de")>]

In [83]:
# extract the job experience text iteratively from these tags one by one

for i in exp_tag:
    experience_required.append(i.text.replace("Yrs",""))
experience_required= experience_required[0:10]
print(" LIST top 10 job data's job title: \n", experience_required)

 LIST top 10 job data's job title:
 ['2-5 ', '5-10 ', '4-7 ', '2-7 ', '3-8 ', '4-8 ', '1-3 ', '3-6 ', '2-4 ', '2-4 ']

In [84]:
# making DataFrame of the top 10 job details from the "wwww.naukri.com"

naukri_filter = pd.DataFrame({'Title':job_title, 
                       'Location': job_location,
                       'Company_Name':company_name, 
                       'Experience':experience_required,                        
                       })
naukri_filter

,Title,Location,Company_Name,Experience
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10
2,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7
4,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3
7,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6
8,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand 2. Product Description 3. Price

To scrape the data you have to go through following steps: 1. Go to Flipkart webpage by url : https://www.flipkart.com/ 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
 
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it. 5. Now scrape data from this page as usual 6. Repeat this until you get data for 100 sunglasses. Note

In [91]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [92]:
# enter “sunglasses” in “search for products, brands and more” field.
search_product = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
search_product.send_keys("sunglasses")

In [94]:
# click the search button
search_btn = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

In [95]:
# specifying the url of the webpage to be scraped
url = "https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

# open the webpage through our web driver
driver.get(url)

Scraping the data for the first 100 sunglasses

In [96]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:3]

In [97]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]
Discount=[] 

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
    titles_Discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

In [98]:
# creating dataframe for the first 100 sunglasses 

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

print("TOP 100 sunglasses listings on flipkart.com:\n")
flipkart

TOP 100 sunglasses listings on flipkart.com:

,Brand,Product Description,Price,Discount %
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",749,62
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",598,80
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",177,82
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),639,20
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),264,89
...,...,...,...,...
95,ROYAL SON,"UV Protection, Polarized Wayfarer Sunglasses (54)",759,62
96,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),369,81
97,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (Free...",265,84
98,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",299,85
99,ROYAL SON,UV Protection Rectangular Sunglasses (50),569,71

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker: 1. Brand 2. Product Description 3. Price

In [117]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.flipkart.com/")

In [122]:
# enter “sneakers” in “search for products, brands and more” field.
search_product = driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
search_product.send_keys("sneakers")
# click the search button
search_btn = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

SCRAPING THE SPECIFIC URL

In [123]:
# specifying the url of the webpage to be scraped
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

# open the webpage through our web driver
driver.get(url)

In [125]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:5]

In [126]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]
Discount=[] 

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles_brand:
        brand.append(i.text)
        
    titles_Description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in titles_Price:
        Price.append(i.text.replace("₹",""))
        
    titles_Discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']/span")
    for i in titles_Discount:
        Discount.append(i.text.replace("% off",""))

In [127]:
# creating dataframe for the first 100 sneakers:

flipkart=pd.DataFrame({})
flipkart['Brand']=brand[0:100]
flipkart['Product Description']=Description[0:100]
flipkart['Price₹']=Price[0:100]
flipkart['Discount %']=Discount[0:100]

print("Top 100 sneakers listings on flipkart.com:\n")
flipkart

Top 100 sneakers listings on flipkart.com:

,Brand,Product Description,Price₹,Discount %
0,LE GREEM,casual for men (blue 06) Sneakers For Men,499,50
1,bluemaker,Sneakers For Men,599,40
2,WOODLAND,Modern Trendy Sneakers Shoes Sneakers For Men,"2,096",30
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,269,79
4,BRUTON,Sneakers For Men,299,76
...,...,...,...,...
95,STRANGER BROTHERS,Sneakers For Men,426,57
96,RapidBox,Trinity Sneakers For Men,650,34
97,BAUCHHAAR,"Casual Shoes For Men Waliking,Sneaker,Loafers,...",449,55
98,luxury fashion,Modern Trendy Sneakers Shoes Sneakers For Men,426,78
99,BeFit,Sneakers For Men,499,68

# Q7: Go to the link - https://www.myntra.com/shoes https://www.myntra.com/shoes Set Price filter  , Color filter to “Black” And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe .
Note: Applying the filter and scraping the data, everything should be done through code only and there should not be any manual step.

In [155]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.myntra.com/shoes")

In [156]:
# apply the Price filter to “Rs. 7149 to Rs. 14099” by checking the respective boxe

price = driver.find_elements(By.XPATH,"//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']") 
price[1].click()

In [157]:
# apply the Color filter to “Black”  by checking the box

color = driver.find_elements(By.XPATH,"//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']") 
color[0].click()

In [158]:
# specifying the url of the webpage to be scraped
url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0"

# open the webpage through our web driver
driver.get(url)

In [159]:
# iterating first 3 website pages to scrape the data

page_url=[]

url=driver.find_elements(By.XPATH,"//li[@class='pagination-number']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
page_url=page_url[0:2]

In [160]:
# creating empty list to scraping data into them

brand=[]
Description=[]
Price=[]

# extracting all the tags

for i in page_url:
    driver.get(i)
    titles_brand=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for i in titles_brand:
        brand.append(i.text)
    
    titles_Description=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for i in titles_Description:
        Description.append(i.text)
        
    titles_Price=driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for i in titles_Price:
        Price.append(i.text)

In [161]:
# creating dataframe for the first 100 sneakers listings on myntra.com:

myntra =pd.DataFrame({})
myntra['Brand']=brand[0:100]
myntra['Shoe Description']=Description[0:100]
myntra['Price']=Price[0:100]

print("Top 100 sneakers listings on myntra.com:\n")
myntra

Top 100 sneakers listings on myntra.com:

,Brand,Shoe Description,Price
0,ASICS,Men GEL-Quantum 360 6 Sports,Rs. 11199Rs. 13999(20% OFF)
1,Skechers,Men Textured Sneakers,Rs. 7999
2,Columbia,Men FACET OUTDRY Trekking Shoe,Rs. 12999
3,Geox,Men Perforations Sneakers,Rs. 12591Rs. 13990(10% OFF)
4,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
...,...,...,...
95,Louis Philippe,Men Solid Leather Formal Loafers,Rs. 9999
96,Geox,Men Textured Leather Driving Shoes,Rs. 9891Rs. 10990(10% OFF)
97,Geox,Men Textured Leather Driving Shoes,Rs. 7693Rs. 10990(30% OFF)
98,Alberto Torresi,Men Solid Leather Mid-Top Formal Boots,Rs. 7999
99,Nike,Women Running Shoes,Rs. 11895Rs. 13995(15% OFF)

In [136]:
#close the driver
driver.close()

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [144]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.amazon.in/")

In [145]:
# enter “laptop” in the search field.
search_product = driver.find_element(By.XPATH,"//div[@class='nav-search-field ']/input")
search_product.send_keys("laptop")

In [146]:
# click the search button
search_btn = driver.find_element(By.XPATH,"//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

In [147]:
# applying CPU Type filter to “Intel Core i7” filter by checking the respective box
i7_clk=driver.find_elements(By.XPATH,"//span[@class='a-size-base a-color-base']")
for i in i7_clk:
    if i.text == 'Intel Core i7':   
        i.click() # Checking the checkbox to apply filter on the laptop
        break

In [148]:
# creating empty list to scraping data into them

Title=[]
Rating=[]
Price=[]

# extracting all the tags

titles=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in titles:
    Title.append(i.text)
    
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
        
titles_Price=driver.find_elements(By.XPATH,"//span[@class='a-price']")
for i in titles_Price:
    Price.append(i.text[1:])

In [149]:
# extratcing ratings from the unorganised rating tag

rating=[]
for i in range(0,len(Rating)):
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [150]:
# creating dataframe for the first 10 laptops data on amazon.com:

amazon =pd.DataFrame({})
amazon['Title']=Title[0:10]
amazon['Rating']=rating[0:10]
amazon['Price']=Price[0:10]

print("The data for the first 10 laptops data on amazon.com:\n")
amazon

The data for the first 10 laptops data on amazon.com:

                                               Title Rating     Price
0  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    4.0    87,900
1  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    4.2    82,990
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    3.7    86,990
3  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...    4.3  1,12,990
4  HP Envy 11th Gen Intel Evo Core i7 14 inch(35....    3.7    99,499
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    3.2    79,990
6  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...    4.3    85,499
7  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...    3.8    89,990
8  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...    4.4    88,990
9  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    4.3    86,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [162]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get(" https://www.ambitionbox.com//")

In [163]:
# click the "Jobs" webpage
cl_job = driver.find_element(By.XPATH,"//a[@class='link jobs']")
cl_job.click()

In [164]:
#In place of “Search by Designations, Companies, Skills” enter “Data Scientist” 

search_title = driver.find_element(By.XPATH,"//span[@class='twitter-typeahead']/input")
search_title.send_keys("Data Scientist")

#click on search button.
search_btn = driver.find_element(By.XPATH,"//button[@class='ab_btn search-btn round']")
search_btn.click()

In [165]:
cl_loc = driver.find_element(By.XPATH,"//div[@class='show-flex']/div[2]") # Location dropdown
cl_loc.click()    
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')

In [166]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [167]:
#scraping company name, No. of days ago when job was posted, Rating of the company

#creating empty list
company_name = []
job_posted = []
rating = []

#Scraing all tags

company=driver.find_elements(By.XPATH,"//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])
    rating.append(i.text.split("\n")[1])
    
posted=driver.find_elements(By.XPATH,"//span[@class='body-small-l']")
for i in posted:
    job_posted.append(i.text)
    
# extratcing job posted days from the unorganised job posted tag

posted=[]
for i in range(0,len(job_posted)):
    if i == 0 or  i/2 == i//2:
        posted.append(job_posted[i])

In [168]:
# creating Dataframe 

ambition = pd.DataFrame({})
ambition["Company_name"] = company_name[1:]
ambition["Job_Posted"] = posted
ambition["Rating"] = rating[1:]

print("The data for the first 10 jobs results in ambitionbox.com :\n ")
ambition

The data for the first 10 jobs results in ambitionbox.com :

                                     Company_name Job_Posted Rating
0  Optum Global Solutions (India) Private Limited     7d ago    4.1
1                   GENPACT India Private Limited    14d ago    4.0
2                   GENPACT India Private Limited   1mon ago    4.0
3                             InfoEdge India Ltd.    12d ago    3.9
4                         Dew Solutions Pvt. Ltd.     5d ago    4.3
5                         Info Edge India Limited    13d ago    3.9
6                         Info Edge India Limited    13d ago    3.9
7                                   Latent bridge    13d ago    4.5
8                                       Careerera   12hr ago    3.8
9                            Careernet Consulting    27d ago    3.9

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe

In [179]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get(" https://www.ambitionbox.com//")

In [180]:
# click on Salary webpage
driver.find_element(By.XPATH,"//a[@class='link salaries']").click()

In [181]:
# In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
search_job = driver.find_element(By.ID,"jobProfileSearchbox")
search_job.send_keys("Data Scientist")

clk=driver.find_elements(By.XPATH,"//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
for i in clk:
    if i.text == 'Data Scientist':   
        i.click() # click on “Data Scientist”
        break

In [184]:
#scrape Company name, Number of salaries, Average salary, Min salary, Max Salary, experience required.

company_name = []
salary_record = []
average_salary = []
min_salary = []
max_salary = []
exp = []

#Scraing all tags

company=driver.find_elements(By.XPATH,"//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])                              #company name
    salary_record.append(i.text.replace("based on", " ").replace("salaries","").split("\n")[1:2]) #Total Salary Record
    exp.append(i.text.replace("yrs exp","").replace("yr exp","").split("\n")[-1])                # Experience required
    
avg_salary=driver.find_elements(By.XPATH,"//div[@class='average-indicator-wrapper']")
for i in avg_salary:
    average_salary.append(i.text.replace("₹","").replace("L",""))            # average salary

salary=driver.find_elements(By.XPATH,"//div[@class='salary-values']")
for i in salary:
    min_salary.append(i.text.replace("₹","").replace("L","").split("\n")[0])  # minimum salary
    max_salary.append(i.text.replace("₹","").replace("L","").split("\n")[1])  # maximum salary

In [185]:
# creating Dataframe for the company name, total salary record, average salary, minimum salary, maximum salary, experience required.

ambition =pd.DataFrame({})
ambition["Company_Name"] = company_name[:10]
ambition["Total_Salary_Record"] = salary_record[:10]
ambition["Experience_Required"] = exp[:10]
ambition["Average_Salary_L"] = average_salary[:10]
ambition["Minimum_Salary_L"] = min_salary
ambition["Maximum_Salary_L"] = max_salary

print(" first 10 Companies results in ambitionbox.com :\n ")
ambition

 first 10 Companies results in ambitionbox.com :

,Company_Name,Total_Salary_Record,Experience_Required,Average_Salary_L,Minimum_Salary_L,Maximum_Salary_L
0,Walmart,[Data Scientist Salary],3 erience (based on 12 salaries),30.6,25.0,36.0
1,Ab Inbev,[Data Scientist Salary],3-4 erience (based on 33 salaries),20.8,15.0,26.2
2,ZS,[Data Scientist Salary],2 erience (based on 15 salaries),16.7,11.0,22.0
3,Optum,[Data Scientist Salary],3-4 erience (based on 32 salaries),15.9,11.0,22.5
4,Reliance Jio,[Data Scientist Salary],3-4 erience (based on 21 salaries),15.7,5.6,26.2
5,Fractal Analytics,[Data Scientist Salary],2-4 erience (based on 89 salaries),15.5,10.0,23.0
6,Tiger Analytics,[Data Scientist Salary],2-4 erience (based on 51 salaries),14.8,9.0,20.0
7,UnitedHealth,[Data Scientist Salary],2-4 erience (based on 57 salaries),14.0,8.3,21.1
8,EXL Service,[Data Scientist Salary],3-4 erience (based on 21 salaries),13.2,7.6,21.0
9,Deloitte,[Data Scientist Salary],2-4 erience (based on 69 salaries),12.8,7.0,25.0